.wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 48px;
    width: auto;
    /* border: 2px solid black; */
}

.search {
    padding: 14px 20px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-black);
    width: 500px;
    height: 100%;
    border-radius: 50px  0px  0px 50px;
}

.searchButton {
    border-radius: 0px 8px 8px 0px;
    padding: 14px 20px;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
    height: 100%;
    border-radius:  0px 50px 50px 0px ;
}
